<main>
    <div class="user-box">
        <section class="main-user-info">

            <div class="user-image-container">
                <input type="image" id="user-image-button" src="../../assets/img/common/wizquizz-logo.png"/>
                <input type="file" id="image-input-file" accept=".jpg, .jpeg, .png"/>
            </div>
            
            <div class="nickname"><h1 id="username"> {{ username }}</h1></div>
        </section>
        
        <section class="description">
            <p>{{ description }}</p>
        </section>
        
        <div class="additional-info">
            <section class="account-creation-date">
                <p>{{ creationDate }}</p>
            </section>

            <section class="quizs-finished">
                <a href="user-quizzes.html"><p class="quizzFinished"> {{quizzes}} </p></a>
            </section>
        </div>
            
        <div class="configButtons">
            <section class="sectionlogOut" id="log-out">
                <input id="log-out" class="logOut" type="button" value="Log-Out" 
                (click)="logOut()"
                routerLink="">
            </section>
        </div>
    </div>
    <!-- <aside include-file="../../src/common/followers-sidebar.html" class = "sidebar"></aside> -->
</main>

