*{
    padding: 0;
    margin: 0;
}

.head{
    background-color: #D1AFFD;
    align-items: center;
    padding: 0.5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.leftnav{
    border: none;
    margin-left: 2.5%;
    display: flex;
    align-items: center;
}

.leftnav i {
    color: #FFFFFF;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.leftnav i:hover {
    color: #73F6D0;
    text-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

.header-logo {
    display: flex;
    align-items: center;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.titlenav{
    color: #FFFFFF;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-family: 'Harry Potter', sans-serif;
    margin-top: 15px;
    font-size: 200%;
}

.titlenav:hover {
    color: #73F6D0;
    text-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

.buttons {
    margin-left: 75%;
}

.button1{
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
    width: 150px;
    height: 50px;
    background-color: #7B2CBF;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.button1:hover {
    background-color: #6E1EB4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.main h1{
    color: #73F6D0;
    text-decoration: none;
    font-family: 'Harry Potter', sans-serif;
    font-size: 130px;
    text-align: center;
    margin-top: 3%;
}

.content1{
    padding: 1%;
    float: left;
    display: flex;
    align-items: center;
    color: black;
}

.content2{
    padding: 1%;
    float: left;
    display: flex;
    align-items: center;
    color: black;
}

.who{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #73F6D0;
}

.who hr, .news hr {
    width: 98%;
    margin: 0 auto;
    border: none;
    height: 2px;
    background-color: #73F6D0;
}

.news{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6%;
    color: #73F6D0;
}

.newscontent{
    margin-top: 1.1%;
}

.foot {
    background-color: #22242A;
    color: white;
    bottom: 0;
    padding: 1%;
    margin-top: 3%;
    display: flex;
    align-items: center;
}

.foot hr {
    height: 2px;
    background-color: #73F6D0;
}

.footicon {
    padding-right: 60px;
}

.footitem{
    margin: 8px 30px;
}

.items{
    width: 90%;
}

.items1, .items2, .networks {
    display: flex;
    align-items: center;
}

.items1, .networks {
    margin-bottom: 0.25%;
}

.items2 {
    margin-top: 0.5%;
}

.networks {
    margin-left: 70%;
}

.networks a{
    text-decoration: none;
    color: white;
    float: right;
    margin: 10px;
    font-size: 120%;
}