*{
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.head {
    top: 0;
    width: 100%;
    padding: 5px;
    position: fixed;
    align-items: center;
    background-color: #D1AFFD;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.leftnav{
    border: none;
    margin-left: 2.5%;
    display: flex;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.titlenav{
    color: #FFFFFF;
    text-shadow: 0 2px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-family: 'Harry Potter', sans-serif;
    margin-top: 15px;
    font-size: 200%;
}

.titlenav:hover {
    color: #73F6D0;
    text-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

.container{
    flex: 1;
}

.asidenav{
    background-color: #6E1EB4;
    width: 12%;
    height: 100%; 
    float: left;
    flex: 1;
}

.asidenav p{
    color: white;
    font-family: "Roboto", sans-serif;
    margin-top: 1%;
    margin: 2.5em;
    bottom: 0;
}

body{
    margin-top: 2.8%;
    display: flex;
}

.main{
    background-color: aquamarine;
    flex: 1;
    height: 100%;
}

.buttons {
    display: flex;
    margin-left: 54%;
    align-items: center;
}

.buttons .sign{
    padding-left: 3%;
}

.button1{
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
    width: 150px;
    height: 50px;
    background-color: #7B2CBF;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    float: right;
}

.button1:hover {
    background-color: #6E1EB4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

hr{
    width: 98%;
    margin: 0 auto;
    border: none;
    height: 2px;
    background-color: #73F6D0;
}

footer{
    height: 50px; 
    width:100%; 
    position:absolute; 
    bottom:0; 
    left:0; 
}

.foot{
    background-color: #22242A;
    color: white;
    padding: 1%;
    display: flex;
    align-items: center;
}

.foot hr{
    height: 2px;
    background-color: #73F6D0;
}

.footicon {
    padding-right: 60px;
}

.footitem{
    text-decoration: none;
    margin: 8px 30px;
}

.items{
    width: 90%;
}

.items1{
    display: flex;
    justify-content: space-between;
}

.items1 a {
    color: #FFFFFF;
}

.items1 a:hover {
    color: #73F6D0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.items2 {
    margin-top: 0.5%;
}

.items2 a {
    color: #FFFFFF;
}

.items2 a:hover {
    color: #73F6D0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.items1, .networks {
    margin-bottom: 0.25%;
}

.items1, .items2, .networks {
    display: flex;
    align-items: center;
}

.networks {
    justify-content: space-between;
}

.networks a{
    text-decoration: none;
    color: purple;
    float: right;
    margin: 10px;
    font-size: 120%;
}

.networks a:hover {
    color: #73F6D0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}