#head {
  top: 0;
  z-index: 2;
  height: 80px;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #D1AFFD;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
}

.navigation{
  border: none;
  margin-left: 2vw;
  vertical-align: center;
  display: flex;
  align-items: center;
}

.navigation:hover {
  .title-nav {
    color: #73F6D0;
    filter: drop-shadow(0 2px 4px rgba(115, 246, 208, 0.4));
  }

  .header-logo {
    filter: drop-shadow(0 2px 4px rgba(115, 246, 208, 0.4));
  }
}

.header-logo {
  display: flex;
  align-items: center;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.title-nav{
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Harry Potter', sans-serif;
  margin-top: 15px;
  font-size: 32px;
  text-shadow: 0 0 2px #000000;
}

#header-buttons {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-right: 2vw;
}

.sign {
  margin-inline: 5px;
  color: #FFFFFF;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.sign:hover {
  color: #73F6D0;
  filter: drop-shadow(0 2px 4px rgba(115, 246, 208, 0.4));
}

.mobile-bars {
  color: #FFFFFF;
  text-shadow: 0 2px rgba(0, 0, 0, 0.2);
  display: none;
}

.mobile-bars:hover {
  color: #73F6D0;
  filter: drop-shadow(0 2px 4px rgba(115, 246, 208, 0.4));
}

.mobile-menu {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 80px;
  list-style: none;
  background-color: #592e6d;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100vw;
  display: none;
  z-index: 1;
}

.hidden-menu {
  opacity: 0;
  filter: blur(2px);
  transform: translateY(-100%);
}

.show-menu {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
  transition: all 1s;
}

.mobile-menu a {
  text-decoration: none;
  font-family: Poppins, serif;
  color: #FFFFFF;
  font-size: 18px;
  display: block;
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
  background-color: #753d8c;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.header-button {
  font-family: "Arial Black", sans-serif;
  width: 82px;
  height: 46px;
  background-color: #7B2CBF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-inline: 5px;
}

.header-button:hover {
  background-color: #6E1EB4;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

/* Phone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .title-nav {
    font-size: 32px;
  }

  .header-button {
    display: none;
  }

  .header-logo img {
    height: 58px;
  }

  .sign {
    display: none;
  }

  .mobile-bars {
    display: block;
  }

  .navigation {
    margin-left: 5vw;
  }

  #header-buttons {
    margin-right: 5vw;
  }

  .mobile-menu {
    display: block;
  }
}

/* Tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  .header-button {
    display: none;
  }

  .sign {
    display: none;
  }

  .mobile-bars {
    display: block;
  }

  .mobile-menu {
    display: block;
  }

  #header-buttons {
    margin-right: 5vw;
  }
}
