<div id="head">
  <div class="navigation">
    <a class="header-logo" href=""><img src="assets/images/wizquizz-logo.png" alt="Navgiation Icon" height="64"></a>
    <a class="title-nav" href="">WizQuizz</a>
  </div>
  <div id="header-buttons">
    <a href=""><input class="header-button" type="button" value="PLAY"></a>
    <a href=""><input class="header-button" type="button" value="CREATE"></a>
    <a class="sign" href=""><i class="fa fa-sign-in fa-3x" aria-hidden="true"></i></a>
    <a class="mobile-bars"><i class="fa fa-bars fa-3x" aria-hidden="true"></i></a>
  </div>
</div>
<ul class="mobile-menu hidden-menu">
  <li><a href="">PLAY</a></li>
  <li><a href="">CREATE</a></li>
  <li><a href="">SIGN IN</a></li>
</ul>
