*{
    padding: 0;
    margin: 0;
}

.container{
    padding-top: 100px;
    background-color: white;
    height: 80%;
    padding-inline: 100px;
    padding-bottom: 100px;
}

.quizinformation{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.image-container{
    background-color: #7B2CBF;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    margin-right: 30px;
    background-color: #9F77C6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.image-container img{
    border: 1px solid purple;
    background-color: #6E1EB4;
    padding: 3px;
}

.image-container .addimage{
    margin-top: 4%;
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
    width: 170px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #7B2CBF;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.addimage:hover {
    background-color: #6E1EB4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.quizzcontainer{
    display: flex;
    flex-direction: column;
}

.quizinfo{
    display: flex;
}

.quizdescription{
    display: flex;
    flex-direction: column;
}

.quizdescription .description{
    margin-top: 3%;
    text-align: left;
    color: white;
    height: 100%;
    resize: none;
    font-size: 20px;
    background-color: rgba(159, 119, 198, 0.65);
    border-radius: 4px;
    box-sizing: border-box;
}
.description::placeholder{
    color: white;
    line-height: 1.5; /* Altura de línea del placeholder */
    white-space: normal; /* Permitir salto de línea */
    word-wrap: break-word; /* Romper palabras largas */
}

.quizinfo .quizdescription{
    color:aqua;
    font-family: 'Harry Potter', sans-serif;
}

.quizdescription .quizztitle{
    font-size: 70px;
    font-family: 'Harry Potter', sans-serif;
    color: #73F6D0;
    border-radius: 4px;
    border: solid gray 1px;
}

.quizztitle::placeholder{
    color: #73F6D0;
}

fieldset{
    padding: 20px;
    border-radius: 20px;
}

.quizdescription p{
    font-family: sans-serif;
    font-size: 1.5em;
    color: #22242A;
}

.quizdescription a{
    margin-left: 100px;
}

.quizdescription .submit{
    margin-top: 1%;
    color: #FFFFFF;
    background-color: green;
}

.submit:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.quizz-questions {
    margin-top: 3%;
    width: 100%;
}

.question {
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #8D77C6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.question-info {
    display: flex;
    justify-content: space-between;
}

.question-info p {
    text-align: justify;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    margin-inline: 4px;
    margin-bottom: 4px;
}

.num-of-question {
    border: 1px solid rgba(0, 0, 0, 0.7);
    background-color: #7B2CBF;
    color: #FFFFFF;
    text-shadow: 0 0 2px #000000;
    border-radius: 100px;
    padding: 5px;
}

.answers {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ebaeff;
}

.answers img {
    padding-right: 10px;
}

.cauldron-button {
    font-family: "Roboto Thin", sans-serif;
    width: 100%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #D5546D;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cauldron-button:hover {
    background-color: #EA677E;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.cauldron-button:focus {
    outline: none;
    background-color: #e22a4c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.cauldron-button img {
    vertical-align: middle;
    display: table-cell;
}

.cauldron-button span {
    vertical-align: middle;
    display: table-cell;
}

.mage-staff-button {
    font-family: "Roboto Thin", sans-serif;
    width: 100%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #EFA928;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mage-staff-button:hover {
    background-color: #F8C059;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.mage-staff-button:focus {
    outline: none;
    background-color: #e49604;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.mage-staff-button img {
    vertical-align: middle;
    display: table-cell;
}

.mage-staff-button span {
    vertical-align: middle;
    display: table-cell;
}

.mana-button {
    font-family: "Roboto Thin", sans-serif;
    width: 100%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #2C70AE;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mana-button:hover {
    background-color: #559DE1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.mana-button:focus {
    outline: none;
    background-color: #0e88fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.mana-button img {
    vertical-align: middle;
    display: table-cell;
}

.mana-button span {
    vertical-align: middle;
    display: table-cell;
}

.magic-ball-button {
    font-family: "Roboto Thin", sans-serif;
    width: 100%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #2E9DA6;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.magic-ball-button:hover {
    background-color: #36B9C2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.magic-ball-button:focus {
    outline: none;
    background-color: #22d2df;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.magic-ball-button img {
    vertical-align: middle;
    display: table-cell;
}

.magic-ball-button span {
    vertical-align: middle;
    display: table-cell;
}

.quizquestions{
    margin-top: 7%;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.noquestions{
    width: 246%;
    text-align: center;
    background-color: #D1AFFD;
    padding: 2%;
    margin-top: 4%;
    border-radius: 4px;
}

.quizquestions p{
    margin: 30px;
    display: inline-block;
}

.quizquestions input{
    /*Para editar el estilo de los inputs en el cuadro*/
}

.question{
    background-color:#9F77C6;
    border-radius: 10px;
    border-style: solid;
    border-color: #22242A;
    padding: 2.3%;
    text-align: center; 
}

.question input{
    text-align: center;
}

.answers{
    text-align: center;
}

.answer{
    background-color: greenyellow;
    border-radius: 10px;
    margin-top: 1%;
    width: 16%;
    border-style: solid;
    border-color: #22242A;
    padding: 4%;
    text-align: center;
    display: inline-block;
}

.answer input{
    text-align: center;
}

.infoanswer{
    margin-top: 1%;
    text-align: center;
}

.infoanswer p{
    font-family: sans-serif;
}

.numberofcorrects{
    margin-top: 1%;
    display: flex;
}

.numberofcorrects input{
    display: none;
}

.radio{
    display: none;
}

.numberofcorrects label{
    padding: 5px 10px;
    margin-inline: 0.5%;
    background-color: #888;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 40px;
}

#one:checked + .label1, 
#multi:checked + .label2
{
    background-color: purple;
    box-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

.addquestion1{
    margin-top: 10%;
}

.addquestion {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.add{
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
    background-color: #7B2CBF;
    color: #FFFFFF;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.add:hover {
    background-color: #6E1EB4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.finish{
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
    background-color: #7B2CBF;
    color: #FFFFFF;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.finish:hover {
    background-color: #6E1EB4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}