*{
    padding: 0;
    margin: 0;
}

.container{
    padding-top: 100px;
    background-color: white;
    height: 80%;
    padding-inline: 100px;
    padding-bottom: 100px;
}

.finish{
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
    width: 200px;
    height: 50px;
    background-color: #7B2CBF;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.quizinfo{
    margin: 10px;
    display: flex;
}

.quizinfo .quizdescription{
    margin-left: 40px;
    color:aqua;
    font-family: 'Harry Potter', sans-serif;
}

.quizdescription h1{
    font-size: 3em;
}

fieldset{
    padding: 20px;
    border-radius: 20px;
}

.quizdescription p{
    font-family: sans-serif;
    font-size: 1.5em;
    color: #22242A;
}

.quizdescription a{
    margin-left: 100px;
}

.quizquestions{
    text-align: center;
    background-color:#D1AFFD;
    padding: 2%;
    margin-top: 4%;
    border-radius: 60px;
}

.quizquestions p{
    margin: 30px;
    display: inline-block;
}

.quizquestions input{
    /*Para editar el estilo de los inputs en el cuadro*/
}

.question{
    background-color:gray;
    border-radius: 10px;
    border-style: solid;
    border-color: #22242A;
    padding: 2.3%;
    text-align: center; 
}

.question input{
    text-align: center;
}

.answers{
    text-align: center;
}

.answer{
    background-color: greenyellow;
    border-radius: 10px;
    margin-top: 1%;
    width: 16%;
    border-style: solid;
    border-color: #22242A;
    padding: 4%;
    text-align: center;
    display: inline-block;
}

.answer input{
    text-align: center;
}

.answer .check{
    /*Aqui va para editar el checkbox de las respuestas*/
    
}

.infoanswer{
    margin-top: 1%;
    text-align: center;
}

.infoanswer p{
    font-family: sans-serif;
}

.numberofcorrects{
    margin-top: 1%;
    display: flex;
}

.numberofcorrects input{
    display: none;
}

.radio{
    display: none;
}

.numberofcorrects label{
    padding: 5px 10px;
    margin-inline: 0.5%;
    background-color: #888;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 40px;
}

#one:checked + .label1, 
#multi:checked + .label2
{
    background-color: purple;
    box-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

.addquestion{
    margin-top: 0.4%;
    display: flex;
    justify-content: center;
}

.add{
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
    width: 250px;
    height: 50px;
    background-color: #7B2CBF;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}