*{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #9C63E3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8860d0;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #DDDDDD;
    border-top-color: #9C63E3;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.container{
    margin-top: -5%;
    padding-top: 100px;
    background-color: white;
    height: 80%;
    padding-inline: 100px;
    padding-bottom: 100px;
}

.quizinformation{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.image-container{
    background-color: #7B2CBF;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    margin-right: 30px;
    background-color: #9F77C6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.image-container img{
    border: 1px solid purple;
    background-color: #6E1EB4;
    padding: 3px;
}

.image-container .addimage{
    margin-top: 4%;
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
    width: 170px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #7B2CBF;
    color: #FFFFFF;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.addimage:hover {
    background-color: #6E1EB4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.quizzcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizinfo{
    display: flex;
    animation: animacionEscala 1.3s;
}

@keyframes animacionEscala {
    from {transform: translateX(-100%);}
    to {transform: translateX(0%);}
}

.quizdescription{
    display: flex;
    flex-direction: column;
}

.quizdescription .descriptionBig{
    margin-top: 3%;
    text-align: left;
    color: white;
    height: 100%;
    resize: none;
    font-size: 20px;
    background-color: rgba(159, 119, 198, 0.65);
    border-radius: 4px;
}
.descriptionBig::placeholder{
    color: white;
}

.descriptionSmall .description{
    display: none;
}

.quizinfo .quizdescription{
    color:aqua;
    font-family: 'Harry Potter', sans-serif;
}

.quizdescription .quizztitle{
    font-size: 70px;
    font-family: 'Harry Potter', sans-serif;
    color: #73F6D0;
    border-radius: 4px;
    border: solid gray 1px;
}

.quizztitle::placeholder{
    color: #73F6D0;
}

fieldset{
    padding: 20px;
    border-radius: 20px;
}

.quizdescription p{
    font-family: sans-serif;
    font-size: 1.5em;
    color: #22242A;
}

.quizdescription a{
    margin-left: 100px;
}

.quizdescription .submit{
    margin-top: 1%;
    color: #FFFFFF;
    background-color: green;
}

.submit:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.quizz-questions {
    margin-top: 3%;
    width: 100%;
    animation-name: quizz-questions;
    animation-duration: 1.3s;
    animation-timing-function: ease;
}

@keyframes quizz-questions {
    0% {
    transform: scale(0);
    }
    100% {
    transform: scale(1);
    }
}

.question {
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: #8D77C6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.question-info {
    display: flex;
    justify-content: space-between;
}

.question-info p {
    text-align: justify;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    margin-inline: 4px;
    margin-bottom: 4px;
}

.num-of-question {
    border: 1px solid rgba(0, 0, 0, 0.7);
    background-color: #7B2CBF;
    color: #FFFFFF;
    text-shadow: 0 0 2px #000000;
    border-radius: 100px;
    padding: 5px;
}

.answers {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ebaeff;
}

.answers img {
    padding-right: 10px;
}

.cauldron-button {
    font-family: "Roboto Thin", sans-serif;
    width: 100%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #D5546D;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cauldron-button:hover {
    background-color: #EA677E;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.cauldron-button:focus {
    outline: none;
    background-color: #e22a4c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.cauldron-button img {
    vertical-align: middle;
    display: table-cell;
}

.cauldron-button span {
    vertical-align: middle;
    display: table-cell;
}

.mage-staff-button {
    font-family: "Roboto Thin", sans-serif;
    width: 100%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #EFA928;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mage-staff-button:hover {
    background-color: #F8C059;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.mage-staff-button:focus {
    outline: none;
    background-color: #e49604;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.mage-staff-button img {
    vertical-align: middle;
    display: table-cell;
}

.mage-staff-button span {
    vertical-align: middle;
    display: table-cell;
}

.mana-button {
    font-family: "Roboto Thin", sans-serif;
    width: 100%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #2C70AE;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mana-button:hover {
    background-color: #559DE1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.mana-button:focus {
    outline: none;
    background-color: #0e88fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.mana-button img {
    vertical-align: middle;
    display: table-cell;
}

.mana-button span {
    vertical-align: middle;
    display: table-cell;
}

.magic-ball-button {
    font-family: "Roboto Thin", sans-serif;
    width: 100%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #2E9DA6;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.magic-ball-button:hover {
    background-color: #36B9C2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.magic-ball-button:focus {
    outline: none;
    background-color: #22d2df;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.magic-ball-button img {
    vertical-align: middle;
    display: table-cell;
}

.magic-ball-button span {
    vertical-align: middle;
    display: table-cell;
}

.quizquestions{
    margin-top: 7%;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    animation-name: Noanimacionquestion;
    animation-duration: 1.3s;
    animation-timing-function: ease;
}

@keyframes Noanimacionquestion {
    0% {
    transform: scale(0);
    }
    100% {
    transform: scale(1);
    }
}

.quizquestions p{
    margin: 30px;
    display: inline-block;
}

.noquestions{
    width: 246%;
    text-align: center;
    background-color: #D1AFFD;
    padding: 2%;
    margin-top: 4%;
    border-radius: 4px;
}

.question{
    background-color:#9F77C6;
    border-radius: 10px;
    border-style: solid;
    border-color: #22242A;
    padding: 2.3%;
    text-align: center; 
}

.question input{
    text-align: center;
}

.answers{
    text-align: center;
}

.answer{
    background-color: greenyellow;
    border-radius: 10px;
    margin-top: 1%;
    width: 16%;
    border-style: solid;
    border-color: #22242A;
    padding: 4%;
    text-align: center;
    display: inline-block;
}

.answer input{
    text-align: center;
}

.infoanswer{
    margin-top: 1%;
    text-align: center;
}

.infoanswer p{
    font-family: sans-serif;
}

.numberofcorrects{
    margin-top: 1%;
    display: flex;
}

.numberofcorrects input{
    display: none;
}

.radio{
    display: none;
}

.numberofcorrects label{
    padding: 5px 10px;
    margin-inline: 0.5%;
    background-color: #888;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 40px;
}

#one:checked + .label1, 
#multi:checked + .label2
{
    background-color: purple;
    box-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

.addquestion1{
    margin-top: 10%;
}

.addquestion {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.add{
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
    background-color: #7B2CBF;
    color: #FFFFFF;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.add:hover {
    background-color: #6E1EB4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.finish{
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
    background-color: #7B2CBF;
    color: #FFFFFF;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.finish:hover {
    background-color: #6E1EB4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

/* PHONE */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .container{
        margin-top: -5%;
        padding: 0; 
    }

    .quizinformation{
        margin-top: 7%;
        margin: 5%;
    }
    
    .quizinfo{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 20%;
        margin-top: 30%;
        width: 100%;
        height: 100%;
    }

    .image-container{
        margin-left: 6%;
        width: 70%;
        height: 70%;
    }

    .image-container img{
        width: 100%;
        height: 100%;
    }

    .image-container .addimage{
        font-size: 17px;
        height: 40px;
    }

    .quizdescription{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        text-align: center;
        justify-content: center;
        width: 100%;
        animation-name: poorque;
        animation-duration: 1.3s;
    }

    @keyframes poorque {
        from {transform: translateX(100%);}
        to {transform: translateX(0%);}
    }
    
    .quizdescription .descriptionBig{
        width: 100%;
        height: 5em;
        color: white;
        resize: none;
        font-size: 20px;
        font-family: 'Poppins';
        background-color: rgba(159, 119, 198, 0.65);
        border-radius: 4px;
    }
    
    .quizdescription .quizztitle{
        width: 100%;
        font-size: 56px;
    }
    
    .quizdescription .submit{
        margin-top: 1%;
        color: #FFFFFF;
        font-size: 15px;
        background-color: green;
    }

    .quizquestions{
        width: 100%;
        animation-name: Noanimacionquestion;
        animation-duration: 1.3s;
    }

    .addquestion1 .add{
        font-size: 17px;
        height: 50px;
    }

    .noquestions{
        width: 96%;
    }

    .define h1{
        font-size: 24px;
    }

    .define h2{
        font-size: 24px;
    }

    .description::placeholder{
        color: white;
    }

    .quizz-questions{
        animation-name: quizz-questions;
        animation-duration: 1.3s;
        animation-timing-function: ease;
    }

    @keyframes quizz-questions {
        0% {
        transform: scale(0);
        }
        100% {
        transform: scale(1);
        }
    }

    .quizz-questions p, span{
        font-family: 'Poppins';
        font-size: 14px;
    }

    .quizz-questions h2{
        font-size: 18px;
    }

    .addquestion input{
        font-size: 16px;
    }
}

/* TABLET */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .container{
        padding: 0; 
    }

    .quizinformation{
        margin: 5%;
    }
    
    .quizinfo{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 20%;
        margin-top: 17%;
        width: 100%;
        height: 100%;
    }

    .image-container{
        margin-left: 6%;
        width: 70%;
        height: 70%;
    }

    .image-container img{
        width: 98%;
        height: 70%;
    }

    .image-container .addimage{
        font-size: 26px;
        height: 40px;
    }

    .quizdescription{
        width: 100%;
        height: 100%;
    }

    .quizdescription .quizztitle{
        margin-top: 3%;
        width: 100%;
    }

    .quizdescription .descriptionBig{
        font-family: 'Poppins';
        height: 10em;
    }

    .quizdescription .submit{
        margin-top: 1%;
        color: #FFFFFF;
        font-size: 22px;
        background-color: green;
    }

    .quizz-questions{
        margin-top: -10%;
    }

    .quizquestions{
        margin-top: -5%;
        width: 100%;
    }

    .noquestions{
        width: 96%;
    }

    .quizz-questions p, span{
        font-family: 'Poppins';
        font-size: 14px;
    }
}