*{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #9C63E3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8860d0;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #DDDDDD;
    border-top-color: #9C63E3;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

main {
    padding: 0;
    font-size: 15px;
    padding-top: 170px;
    padding-bottom: 90px;
    min-height: calc(100vh - 460px);

    width: 80%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}

.login-box,
.login-image{
    flex: 1;
}

.login-image {
    max-width: auto;
    height: 100%;
    margin-left: 10%;
    margin-right: auto;
    display: flex;
    justify-content: left;
    align-items: center;

    z-index: -1;
}

#wand-image {
    display:block;
    margin:auto;
}

#inputs {
    width: 100%;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 20px;
    align-items: left;

    background-color: #ffffff;
}

#inputs h1 {
    margin: 0%;
    padding: 2%;
    padding-top: 10%;
    color: #000000;
    text-decoration: none;
    font-family: 'Harry Potter', sans-serif;
    font-size: 70px;
    text-align: center;
}

.user-data {
    padding-left: 5%;
    padding-right: 5%;
}

.user-data h2 {
    padding-top: 1.5%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    
    color: #000000;
    text-decoration: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: left;
}

.data-input {
    padding: 0.05% 0.5%;
    padding-left: 3%;
    margin-top: 0%;
    margin-bottom: 2%;

    height: 35px;
    width: 95%;

    font-size: 1.5rem;
    text-align: left;
    border-radius: 10px;
}

.login-and-message{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4%;
}

.login-and-message p{
    text-align: center;
}

.create-account-button {
    margin-top: 3%;
    margin-bottom: 2%;

    width: 100%;
    height: 45px;
    
    border-radius: 20px;
    font-family: "Roboto Thin", sans-serif;

    background-color: #7B2CBF;
    color: #FFFFFF;
    font-size: 30px;

    border: 2px solid rgba(0, 0, 0);

    cursor: pointer;
    transition: all 0.2s linear;
}

.create-account-button:hover {
    background-color: #8708f6;
    box-shadow: 0 0 15px purple;
}

.login-account{
    text-align: center;
    margin-top: 5%;
    margin-right: 0%;
}

.login-account h1{
    margin-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    margin: 2% 0%;
    
    width: 100%;

    color: #000000;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;

    border-bottom: 1px solid #000; 
    line-height: 0.1em;
}

.login-account h1 span {
    background:#fff; 
    padding:0 10px;
}

.login-button{
    margin-top: 1%;
    margin-bottom: 10%;

    width: 100%;
    height: 45px;
    
    border-radius: 20px;
    font-family: "Roboto Thin", sans-serif;

    background-color: #81747f;
    color: #FFFFFF;

    font-size: 20px;
    border: 2px solid rgba(0, 0, 0);

    cursor: pointer;
    transition: all 0.5s linear;
}

.login-button:hover {
    background-color: #555151;
    box-shadow: 0 0 15px purple;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .login-image{
        display: none;
    }

    #inputs{
        padding: 0;
        margin: 0 0;
    }

    .login-box {
        margin-right: 0;
    }

    #inputs h1{
        font-size: 2.5rem;
    }

    #inputs h2{
        font-size: 1rem;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .login-image{
        display: none;
    }

    #inputs{
        padding: 0;
        margin: 0 0;
    }

    .login-box {
        margin-right: 0;
    }
}
