*{
    padding: 0;
    margin: 0;
}

main {
    font-size: 15px;
    padding-top: 8%;
}

.create-account-container {
    width: 90%;
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    align-items: top;
    display: flex;
}

.create-account-box{
    width: 40%;

    margin-left: auto;
    margin-right: 5%;
    padding-right: 0%;

}

.create-account-image {
    height: 400px;

    margin-right: 5%;
    margin-left: auto;
    
    align-items: center;
    z-index: -1;
}

.create-account-data {
    width: 96%;
    margin-bottom: 3%;
    padding: 2%;
    padding-top: 2%;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 20px;
    align-items: left;

    background-color: #ffffff;
}

.create-account-data h1 {
    margin: 0%;
    padding: 2%;
    color: #000000;
    text-decoration: none;
    font-family: 'Harry Potter', sans-serif;
    font-size: 70px;
    text-align: center;
}

.user-data {
    padding-left: 5%;
    padding-right: 5%;
}

.user-data h2 {
    padding-top: 1.5%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    
    color: #000000;
    text-decoration: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
}

.data-input {
    padding: 0.05% 0.5%;
    padding-left: 3%;
    margin-top: 0%;
    margin-bottom: 2%;

    height: 35px;
    width: 95%;

    font-size: 100%;
    text-align: left;
    border-radius: 10px;
}

.login-and-message{
    padding-left: 5%;
    padding-right: 5%;
}

.login-and-message p{
    text-align: center;
}
.create-account-button{
    margin-top: 3%;
    margin-bottom: 2%;

    width: 100%;
    height: 45px;
    
    border-radius: 20px;

    font-family: "Roboto Thin", sans-serif;

    background-color: #7B2CBF;
    color: #FFFFFF;
    font-size: 30px;

    border: 2px solid rgba(0, 0, 0);

    cursor: pointer;
    transition: all 0.5s linear;
}

.create-account-button:hover {
    background-color: #8708f6;
    box-shadow: 0 0 15px purple;
}

.create-account{
    text-align: center;
    margin-top: 5%;
    margin-right: 0%;
}

.login-account h1{
    margin-top: 0%;
    padding-bottom: 0%;
    margin-bottom: 0%;
    margin: 2% 0%;
    
    width: 100%;

    color: #000000;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;

    border-bottom: 1px solid #000; 
    line-height: 0.1em;
}

.login-account h1 span {
    background:#fff; 
    padding:0 10px;
}

.login-button {
    margin-top: 1%;
    margin-bottom: 10%;

    width: 100%;
    height: 45px;
    
    border-radius: 20px;
    font-family: "Roboto Thin", sans-serif;

    background-color: #81747f;
    color: #FFFFFF;

    font-size: 20px;
    border: 2px solid rgba(0, 0, 0);

    cursor: pointer;
    transition: all 0.5s linear;
}

.login-button:hover {
    background-color: #555151;
    box-shadow: 0 0 15px purple;
}
