<main>
    <section class="login-box">
        <form class="login-data">
            <h1>Sign in</h1>
            <div id="login"></div>
            <div class="user-data" id="email-data">
                <h2>Email</h2>
                <input type="email" class="data-input" id="email-input" name="email" [(ngModel)]="email">
            </div>
    
            <div class="user-data" id="password-data">
                <h2>Password</h2>
                <input type="password" class="data-input" id="password-input" name="password" [(ngModel)]="password">
            </div>
            
            <div class="login-and-message">
                <button type="button" class="login-button" (click)="login()">Log in</button>
                <p>By continuing, you agree to the Terms of use and <a class="copy" href="../../privacy-policy.html">Privacy Policy.</a></p>
            </div>
    
            
        </form>
        <section class="create-account">
            <h1><span>New to our community?</span></h1>

            <a routerLink="/create-account"><button class="create-account-button" type="button">Create an account</button></a>
        </section>               
    </section>
    
    <section class="login-image">
        <img id= "wand-image" src="../../assets/img/common/wizquizz-logo.png">
    </section>
</main>
