<div class="container">
  <aside #filters class="hidden">
    <ng-container *ngIf="filtersData">
      <div *ngFor="let filter of filtersData.filters" class="filter">
        <span><img [src]="filter.icon" alt="NavIcon" width="64" height="64"></span>
        <span>{{ filter.text }}</span>
      </div>
    </ng-container>
  </aside>
  <main>
    <section #quizzes class="quizz-selection hidden">
      <ng-container *ngIf="quizzData">
        <div *ngFor="let quizz of quizzData.quizz" class="quizz">
          <a routerLink="/preview">
            <img [src]="quizz.image" width="400" height="225" class="image">
            <h2>{{ quizz.title }}</h2>
          </a>
        </div>
      </ng-container>
    </section>
  </main>
</div>
