*{
    padding: 0;
    margin: 0;
}
    
.container{
    margin-top: 7%;
    margin-bottom: 5%;
}
.quizquestions .header-button{
    border-radius: 4px;
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
    background-color: #7B2CBF;
    color: #FFFFFF;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.quizquestions .header-button:hover {
    background-color: #6E1EB4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.preview{
    display: flex;
    background-color:#9F77C6;
    padding: 2%;
    margin: 5%;
    border-radius: 60px;
}
.loadimages{
    width: 100%;
}
.preview .loadimages{
    margin-right: auto;
    display: flex;
    text-align: center;
}
.images{
    margin: 0;
}
.images img{
    border: 1px solid purple;
    background-color: #6E1EB4;
    padding: 3px;
}
.description{
    height: 100%;
    width: 100%;
    font-size: 30px;
    text-align: start;
    background-color: inherit;
    border-radius: 10px;
    border-color: #22242A;
    margin-left: 1%;
}
textarea::placeholder{
    color: black;
}
.preview .numofquestion{
    border: 1px solid rgba(0, 0, 0, 0.7);
    background-color: #7B2CBF;
    color: #FFFFFF;
    text-shadow: 0 0 2px #000000;
    border-radius: 100px;
    padding: 5px;
    margin-left: 20px;
    align-self: flex-start;
}
.loadimages input{
    margin-top: 10%;
    width: 60%;
}
.quizquestions{
    text-align: center;
    background-color:#9F77C6;
    padding: 2%;
    margin: 5%;
    border-radius: 60px;
    margin-top: -2.5%;
}
.quizquestions p{
    margin: 30px;
    display: inline-block;
}
.question{
    background-color:gray;
    border-radius: 10px;
    border-style: solid;
    border-color: #22242A;
    padding: 2.3%;
    text-align: center;
}
.question input{
    text-align: center;
}
.answerBox{
    font-family: Arial, sans-serif;
    font-size: 40px;
    margin: 3%;
    background-color: #9F77C6;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 50px;
}
.answers {
    display: flex;
    flex-direction: column;
    padding: 0.5%;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ebaeff;
}
.answer{
    background-color: inherit;
    border-color: inherit;
    width: 100%;
    font-size: 30px;
    color: white;
}
.answer::placeholder{
    color: white;
}
.answers img {
    padding-right: 10px;
}
.correctanswer{
    margin: 1%;
}
.cauldron-button {
    display: flex;
    align-items: center;
    font-family: "Roboto Thin", sans-serif;
    font-size: 30px;
    width: 100%;
    margin-bottom: 1%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #D5546D;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.cauldron-button image {
    vertical-align: middle;
    display: table-cell;
}
.cauldron-button span {
    vertical-align: middle;
    display: table-cell;
}
.mage-staff-button {
    display: flex;
    align-items: center;
    font-family: "Roboto Thin", sans-serif;
    font-size: 30px;
    width: 100%;
    margin-bottom: 1%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #EFA928;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.mage-staff-button image {
    vertical-align: middle;
    display: table-cell;
}
.mage-staff-button span {
    vertical-align: middle;
    display: table-cell;
}
.mana-button {
    display: flex;
    align-items: center;
    font-family: "Roboto Thin", sans-serif;
    font-size: 30px;
    width: 100%;
    margin-bottom: 1%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #2C70AE;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.mana-button image {
    vertical-align: middle;
    display: table-cell;
}
.mana-button span {
    vertical-align: middle;
    display: table-cell;
}
.magic-ball-button {
    display: flex;
    align-items: center;
    font-family: "Roboto Thin", sans-serif;
    font-size: 30px;
    width: 100%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #2E9DA6;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.magic-ball-button image {
    vertical-align: middle;
    display: table-cell;
}
.magic-ball-button span {
    vertical-align: middle;
    display: table-cell;
}
.infoanswer{
    margin-top: 1%;
    text-align: center;
}
.infoanswer p{
    font-family: sans-serif;
}
.allbuttons{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-right: 1.5%;
}
.removebuttons input{
    width: 100%;
    margin-left: 0;
}
.editbuttons{
    display: flex;
}
.editbuttons a{
    margin-left: 3%;
}
.editbuttons input{
    width: 100%;
}
.radio{
    display: none;
}
#one:checked + .label1,
#multi:checked + .label2
{
    background-color: purple;
    box-shadow: 0 3px rgba(0, 0, 0, 0.2);
}
.addquestion{
    margin-top: 0.4%;
    display: flex;
    justify-content: center;
}
.add{
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
    width: 250px;
    height: 50px;
    background-color: #7B2CBF;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

/* PHONE */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .preview{
        margin-top: 30%;
        border-radius: 30px;
    }

    .preview .numofquestion{
        font-size: 14px;
    }

    .loadimages{
        display: flex;
        flex-direction: column;
    }

    .images{
        width: 100%;
        height: 100%;
    }

    .images img{
        margin: 2%;
        width: 100%;
        height: 75%;
    }

    .loadimages textarea{
        margin-top: -9%;
    }

    .description{
        margin-top: -500%;
        margin: 0.5%;
        width: 120%;
        font-family: 'Poppins';
        font-size: 22px;
    }

    .quizquestions{
        border-radius: 30px;
    }

    .infocontainer .answers{
        margin: 2%;
    }

    .answers input{
        font-size: 15px;
    }

    .allbuttons{
        margin-top: 5%;
        justify-content: center;
    }

    .allbuttons .removebuttons{
        display: none;
    }

    .allbuttons input{
        width: 90%;
        display: block;
        font-size: 12px;
    }
}

/* TABLET */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .preview{
        margin-top: 12%;
        border-radius: 30px;
    }

    .preview .numofquestion{
        font-size: 14px;
    }

    .loadimages{
        display: flex;
        flex-direction: column;
    }

    .images{
        width: 100%;
        height: 100%;
    }

    .images img{
        width: 100%;
        height: 60%;
    }

    .images input{
        margin-top: 2%;
        width: 30%;
    }

    .loadimages textarea{
        margin-top: -15%;
        font-size: 28px;
    }

    .quizquestions{
        border-radius: 30px;
    }

    .infocontainer .answers{
        margin: 1%;
    }

    .answers input{
        font-size: 24px;
    }

    .allbuttons{
        margin-top: 2%;
        justify-content: center;
    }

    .allbuttons .removebuttons{
        display: none;
    }
}