<body>
    <div class="container">
        <div class="preview">
            <div class="loadimages">
                <div class="images">
                    <img src="../../assets/img/common/sample-news-image.png" width="350" height="250">
                    <a href=""><input class="header-button" type="button" value="+ Add Image"></a>
                </div>
                
                <textarea id="questionTittle" class="description" placeholder="Question Title"></textarea>
            </div>
            <div class="numofquestion">
                <h1>01</h1>
            </div>
        </div>
        <div id="quizquestions" class="quizquestions">
            <div class="infocontainer">
                <form id="answers" class="answers">
                    <button type="button" class="cauldron-button"><span><img src="../../assets/img/answer-options/cauldron.png"></span><input id="answer1" class="answer" placeholder="Write the answer 1"><input class="correctanswer" type="radio" name="correctanswer"></button>
                    <button type="button" class="mage-staff-button"><span><img src="../../assets/img/answer-options/mage-staff.png"></span><input id="answer2" class="answer" placeholder="Write the answer 2"><input class="correctanswer" type="radio" name="correctanswer"></button>
                    <button type="button" class="mana-button"><span><img src="../../assets/img/answer-options/mana.png"></span><input id="answer3" class="answer" placeholder="Write the answer 3"><input type="radio" class="correctanswer" name="correctanswer"></button>
                    <button type="button" class="magic-ball-button"><span><img src="../../assets/img/answer-options/magic-ball.png"></span><input id="answer4" class="answer" placeholder="Write the answer 4"><input type="radio" class="correctanswer" name="correctanswer"></button>
                </form>

                <div class="allbuttons">
                    <div class="removebuttons">
                        <a href=""><input class="header-button" type="button" value="Delete Question"></a>
                    </div>
                    <div class="editbuttons">
                        <a href=""><input class="header-button" id="submit" type="submit" value="Add Answer"></a>
                        <a routerLink="/create-quizz"><input class="header-button" type="button" value="Finish Question"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>