<main>
    <article #preview class="preview hidden">
      <ng-container *ngFor="let item of previewData.preview; let i = index">
      <section class="quizz-info">
        <img [src]="item.image" width="560" height="315">
        <div class="quizz-lower-info">
          <div class="additional-info">
            <p>{{ item.author }}</p>
            <p>{{ item.submit_date }}</p>
          </div>
          <a [routerLink]="['/in-game']">
            <input class="quizz-start-button" type="button" value="START GAME">
          </a>
        </div>
      </section>
      <section class="quizz-description">
        <h1>{{ item.title }}</h1>
        <p>{{ item.description }}</p>
      </section>
      </ng-container>
    </article>
  <article #questions class="quizz-questions hidden">
    <ng-container *ngFor="let item of previewData.questions; let i = index">
      <section class="question">
        <div class="question-info">
          <p>{{ item.question_text }}</p>
          <div class="num-of-question">
            <h2>0{{ i + 1 }}</h2>
          </div>
        </div>
        <div class="answers">
          <button *ngFor="let answer of item.answers" class="{{ answer.icon_name }}-button">
            <span><img [src]="answer.image" alt="Answer Image"></span>
            <span>{{ answer.text }}</span>
          </button>
        </div>
      </section>
    </ng-container>
  </article>
</main>
