*{
    padding: 0;
    margin: 0;
}

.head {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #D1AFFD;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.left-navigation{
    border: none;
    margin-left: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    width: 100%;
}

.header-logo {
    display: flex;
    align-items: center;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.header-logo:hover {
    filter: drop-shadow(0 2px 4px rgba(115, 246, 208, 0.6));
}

.title-nav{
    color: #FFFFFF;
    text-shadow: 0 2px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-family: 'Harry Potter', sans-serif;
    margin-top: 15px;
    font-size: 200%;
}

.title-nav:hover {
    color: #73F6D0;
    text-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

.container{
    padding-top: 100px;
    background-color: white;
    height: 80%;
    padding-inline: 100px;
    padding-bottom: 100px;
}

.finish{
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
    width: 200px;
    height: 50px;
    background-color: #7B2CBF;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.quizinfo{
    margin: 10px;
    display: flex;
}

.quizinfo .quizdescription{
    margin-left: 40px;
    color:aqua;
    font-family: 'Harry Potter', sans-serif;
}

.quizdescription h1{
    font-size: 3em;
}

fieldset{
    padding: 20px;
    border-radius: 20px;
}

.quizdescription p{
    font-family: sans-serif;
    font-size: 1.5em;
    color: #22242A;
}

.quizdescription a{
    margin-left: 100px;
}

.quizquestions{
    text-align: center;
    background-color:#D1AFFD;
    padding: 2%;
    margin-top: 4%;
    border-radius: 60px;
}

.quizquestions p{
    margin: 30px;
    display: inline-block;
}

.quizquestions input{
    /*Para editar el estilo de los inputs en el cuadro*/
}

.question{
    background-color:gray;
    border-radius: 10px;
    border-style: solid;
    border-color: #22242A;
    padding: 2.3%;
    text-align: center; 
}

.question input{
    text-align: center;
}

.answers{
    text-align: center;
}

.answer{
    background-color: greenyellow;
    border-radius: 10px;
    margin-top: 1%;
    width: 16%;
    border-style: solid;
    border-color: #22242A;
    padding: 4%;
    text-align: center;
    display: inline-block;
}

.answer input{
    text-align: center;
}

.answer .check{
    /*Aqui va para editar el checkbox de las respuestas*/
    
}

.infoanswer{
    margin-top: 1%;
    text-align: center;
}

.infoanswer p{
    font-family: sans-serif;
}

.numberofcorrects{
    margin-top: 1%;
    display: flex;
}

.numberofcorrects input{
    display: none;
}

.radio{
    display: none;
}

.numberofcorrects label{
    padding: 5px 10px;
    margin-inline: 0.5%;
    background-color: #888;
    color: white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 40px;
}

#one:checked + .label1, 
#multi:checked + .label2
{
    background-color: purple;
    box-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

.addquestion{
    margin-top: 0.4%;
    display: flex;
    justify-content: center;
}

.add{
    font-family: "Roboto Thin", sans-serif;
    font-size: 20px;
    width: 250px;
    height: 50px;
    background-color: #7B2CBF;
    color: #FFFFFF;
    padding: 14px 20px;
    margin: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.foot {
    background-color: #22242A;
    color: white;
    bottom: 0;
    padding: 1%;
    margin-top: 3%;
    display: flex;
    align-items: center;
}

.foot hr {
    height: 2px;
    background-color: #73F6D0;
}

.footicon {
    padding-right: 60px;
}

.footitem{
    text-decoration: none;
    margin: 8px 30px;
}

.items{
    width: 90%;
}

.items1{
    display: flex;
    justify-content: space-between;
}

.items1 a {
    color: #FFFFFF;
}

.items1 a:hover {
    color: #73F6D0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.items2 {
    margin-top: 0.5%;
}

.items2 a {
    color: #FFFFFF;
}

.items2 a:hover {
    color: #73F6D0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.items1, .networks {
    margin-bottom: 0.25%;
}

.items1, .items2, .networks {
    display: flex;
    align-items: center;
}

.networks {
    justify-content: space-between;
}

.networks a{
    text-decoration: none;
    color: purple;
    float: right;
    margin: 10px;
    font-size: 120%;
}

.networks a:hover {
    color: #73F6D0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}