*{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #9C63E3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8860d0;
}

/* .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #DDDDDD;
    border-top-color: #9C63E3;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
} */

main{
    padding-top: 5%;
    background-color: #22242A;
    padding-bottom: 5%;
    
}

.question{
    display: flex;
    margin: auto;
    font-family: "Roboto Thin", sans-serif;
    font-size: 40px;
    align-items: center;
    color: #FFFFFF;
    justify-content: space-between;
    background-color: #9F77C6;
    padding: 4%;
    width: 86%;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.leftSide{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
}

.questionTitle{
    text-align: center;
    margin-left: 5%;
    margin-right: 10%;
}

.questionNumber{
    border: 1px solid rgba(0, 0, 0, 0.7);
    background-color: #7B2CBF;
    color: #FFFFFF;
    text-shadow: 0 0 2px #000000;
    border-radius: 50%;
    padding: 0.7%;
    align-self: flex-start;
}

.next-question{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #7B2CBF;
    width: 160px;
    height: 60px;
    margin-top: 5%;
    margin-left: auto;
    border-radius: 6%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.next-question:hover {
    background-color: #6E1EB4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}


.answerBox{
    font-family: Arial, sans-serif;
    font-size: 40px;
    margin: 3%;
    background-color: #9F77C6;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 50px;
}

.answers {
    display: flex;
    flex-direction: column;
    padding: 0.5%;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ebaeff;
    align-items: end;
}

.answers img {
    padding-right: 10px;
}

.cauldron-button {
    font-family: "Roboto Thin", sans-serif;
    font-size: 30px;
    width: 100%;
    margin-bottom: 1%;
    height: auto;
    text-align: justify;
    color: #FFFFFF;
    background-color: #D5546D;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cauldron-button:hover {
    background-color: #EA677E;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.cauldron-button:focus {
    outline: none;
    background-color: #e22a4c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.cauldron-button img {
    vertical-align: middle;
    display: table-cell;
}

.cauldron-button span {
    vertical-align: middle;
    display: table-cell;
}

.mage-staff-button {
    font-family: "Roboto Thin", sans-serif;
    font-size: 30px;
    width: 100%;
    margin-bottom: 1%;
    height: auto;
    text-align: justify;
    color: #FFFFFF;
    background-color: #EFA928;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mage-staff-button:hover {
    background-color: #F8C059;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.mage-staff-button:focus {
    outline: none;
    background-color: #e49604;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}


.mage-staff-button img {
    vertical-align: middle;
    display: table-cell;
}

.mage-staff-button span {
    vertical-align: middle;
    display: table-cell;
}

.mana-button {
    font-family: "Roboto Thin", sans-serif;
    font-size: 30px;
    width: 100%;
    margin-bottom: 1%;
    height: auto;
    text-align: justify;
    color: #FFFFFF;
    background-color: #2C70AE;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mana-button:hover {
    background-color: #559DE1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.mana-button:focus {
    outline: none;
    background-color: #0e88fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.mana-button img {
    vertical-align: middle;
    display: table-cell;
}

.mana-button span {
    vertical-align: middle;
    display: table-cell;
}

.magic-ball-button {
    font-family: "Roboto Thin", sans-serif;
    font-size: 30px;
    width: 100%;
    height: auto;
    text-align: justify;
    color: #FFFFFF;
    background-color: #2E9DA6;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.magic-ball-button:hover {
    background-color: #36B9C2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.magic-ball-button:focus {
    outline: none;
    background-color: #22d2df;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.magic-ball-button img {
    vertical-align: middle;
    display: table-cell;
}

.magic-ball-button span {
    vertical-align: middle;
    display: table-cell;
}

/* PHONE */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    main{
        padding-top: 5%;
        padding-bottom: 20%;
        background-color: #22242A;
        
    }
    
    .question{
        display: flex;
        flex-direction: column;
        margin: auto;
        font-size: 25px;
        align-items: center;
        color: #FFFFFF;
        background-color: #9F77C6;
        padding: 4%;
        border-radius: 50px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .leftSide{
        margin-top: -5%;
        margin-left: 20%;
        text-align: center;
        padding: 0% , 10%;
    }

    .questionTitle{
        text-align: center;
        margin-left: 5%;
        margin-right: 10%;
    }
    
    .questionNumber{
        border: 1px solid rgba(0, 0, 0, 0.7);
        background-color: #7B2CBF;
        color: #FFFFFF;
        text-shadow: 0 0 2px #000000;
        border-radius: 50%;
        padding: 2%;
        align-self: flex-end;
    }
    
    .next-question{
        font-weight: bold;
        font-size: 18px;
        color: #FFFFFF;
        background-color: #7B2CBF;
        width: 140px;
        height: 50px;
        margin-top: 5%;
        align-items: center;
        border-radius: 6%;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
    
    .next-question:hover {
        background-color: #6E1EB4;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    }
    
    
    .answerBox{
        margin: 3%;
        background-color: #9F77C6;
        display: flex;
        flex-direction: column;
        padding: 5%;
        border-radius: 50px;
    }
    
    .answers {
        display: flex;
        flex-direction: column;
        padding: 2%;
        justify-content: center;
        border-radius: 5%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #ebaeff;
        align-items: end;
    }
    
    .answers img {
        padding-right: 10px;
    }

    .cauldron-button {
        font-size: 23px;
        width: 100%;
        margin-bottom: 3%;
        height: auto;
    }

    .cauldron-button img {
        vertical-align: middle;
        display: table-cell;
    }

    .mage-staff-button {
        font-family: "Roboto Thin", sans-serif;
        font-size: 23px;
        width: 100%;
        margin-bottom: 3%;
    }

    .mage-staff-button img {
        vertical-align: middle;
        display: table-cell;
    }
    
    .mana-button {
        font-family: "Roboto Thin", sans-serif;
        font-size: 23px;
        width: 100%;
        margin-bottom: 3%;
    }
    
    .magic-ball-button {
        font-family: "Roboto Thin", sans-serif;
        font-size: 23px;
        width: 100%;
        height: auto;
    }
}
    /* TABLET */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    main{
        padding-top: 10%;
        background-color: #22242A;
        height: 100vh;
        width: 100%;
        
    }
    
    .question{
        margin-bottom: 10%;
    }
    
    .leftSide{
        text-align: center;
    }

    .questionTitle{
        text-align: center;
        margin-left: 5%;
        margin-right: 10%;
    }
    
    .questionNumber{
        padding: 1%;
        align-self: flex-start; 
    }
    
    .next-question{
        width: 160px;
        height: 50px;
        margin-top: 15%;
        border-radius: 6%;
    }
    
    .next-question:hover {
        background-color: #6E1EB4;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    }
    
    
    .answerBox{
        margin: 3%;
        background-color: #9F77C6;
        display: flex;
        flex-direction: column;
        padding: 3%;
        border-radius: 50px;
    }
    
    .answers {
        padding: 2%;
        border-radius: 5%;
        align-items: center;
    }
    
    .answers img {
        padding-right: 10px;
    }

    .cauldron-button {
        width: 100%;
        margin-bottom: 3%;
        height: auto;
    }

    .cauldron-button img {
        vertical-align: middle;
        display: table-cell;
    }

    .mage-staff-button {
        width: 100%;
        margin-bottom: 3%;
    }

    .mage-staff-button img {
        vertical-align: middle;
        display: table-cell;
    }
    
    .mana-button {
        width: 100%;
        margin-bottom: 3%;
    }
    
    .magic-ball-button {
        width: 100%;
        height: auto;
    }
}