<main>
    <section class="question">
        <div class="leftSide">
            <img src="../../assets/img/common/quizz-default.jpg" width="200" height="200" class="portrait">
        </div>
        <div class="questionTitle">
            <p> What is the name of the forest moon that serves as the location for the climactic battle in "Return of the Jedi"?</p>
        </div>
        <div class="questionNumber">
            <p> 01 </p>
        </div>
    </section>

    <section class="answerBox">
        <div class="answers">
            <button class="cauldron-button" id="correct-answer"><span><img src="../../assets/img/answer-options/cauldron-x45.png"></span><span>Dagobah</span></button>
            <button class="mage-staff-button"><span><img src="../../assets/img/answer-options/mage-staff-x45.png"></span><span>Hoth</span></button>
            <button class="mana-button"><span><img src="../../assets/img/answer-options/magic-ball-x45.png"></span><span>Mustafar</span></button>
            <button class="magic-ball-button"><span><img src="../../assets/img/answer-options/mana-x45.png"></span><span>Endor</span></button>
            <a routerLink="/finish-quizz"> <button class="next-question" id="next-question"> <span>Next Question</span></button></a>
        </div>
    </section>
</main>


