*{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #9C63E3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8860d0;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #DDDDDD;
    border-top-color: #9C63E3;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

main {
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

#wand-icon {
    transform: scaleX(-1);
    margin-top: 50px;
}

.quizz-mark {
    display: flex;
    flex-flow: column;
    text-align: center;
}

#quizz-description p {
    width: 400px;
    font-family: "Arial Black", serif;
    color: #FFFFFF;
    padding: 10px;
    margin: 5px;
    border-radius: 30px;
    background-color: #9F77C6;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.quizz-mark  h1 {
    font-family: 'Harry Potter', sans-serif;
    color: #73F6D0;
    font-size: 70px;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.quizz-mark h2 {
    font-family: "Arial Black", sans-serif;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    font-size: 100px;
    background-size: 400%;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear reverse infinite;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

@keyframes animate {
    0% {
        background-position: 0;
    }
    100% {
        background-position: 400%;
    }
}

.buttons-and-mark {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.finish-button {
    font-family: "Arial Black", sans-serif;
    width: 175px;
    height: 46px;
    background-color: #7B2CBF;
    color: #FFFFFF;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.finish-button:hover {
    background-color: #6E1EB4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

/* PHONE */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    main {
        width: 100%;
        height: 90%;
        padding-top: 2%;
}

#wand-icon {
    display: none;
    transform: scaleX(-1);
    margin-top: 50px;
}

.quizz-mark {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: -5%;
}


#quizz-description p {
    width: 60%;
    height: 10%;
    padding: 4%;
    margin: auto;
    margin-top: 10%;
}

.quizz-mark  h1 {
    font-size: 55px;
}

.quizz-mark h2 {
    width: 100%;
    height: 100%;
}

.buttons-and-mark {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.finish-button {
    width: 175px;
    height: auto;
    margin-bottom: 10%;
    border-radius: 4px;
}


}

/* TABLET */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    main {
        width: 100%;
        height: 100vh;
        margin-top: -0%;
        padding-top: 30%;
}

#wand-icon {
    display: none;
    transform: scaleX(-1);
    margin-left: 5%;
}

.quizz-mark {
    height: 100%;
    margin-top: 10%;
}

#quizz-description p {
    
    justify-content: center;
    font-size: 25px;
    padding: 3%;
}

.quizz-mark  h1 {
    font-size: 85px;
    margin-top: -20%;
}

.quizz-mark h2 {
}

.buttons-and-mark {
}

.finish-button {
    font-size: 20px;
    border-radius: 10px;
    margin-top: 3%;
    height: 80px;
    width: 250px;
    white-space: normal;
}

}