*{
    padding: 0;
    margin: 0;
}

main{
    padding-top: 1%;
    background-color: #22242A;
    padding-bottom: 1%;
}

.question{
    display: flex;
    margin: auto;
    font-family: "Roboto Thin", sans-serif;
    font-size: 40px;
    align-items: center;
    color: #FFFFFF;
    justify-content: space-between;
    background-color: #9F77C6;
    padding: 4%;
    width: 86%;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.leftSide{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: auto;
}

.questionTitle{
    text-align: center;
    margin-left: 5%;
    margin-right: 10%;
}

.questionNumber{
    border: 1px solid rgba(0, 0, 0, 0.7);
    background-color: #FFFFFF;
    color: #22242A;
    border-radius: 100px;
    position: absolute;
    left: 91%;
    bottom: 86%;
    padding: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.next-question{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #7B2CBF;
    width: 160px;
    height: 60px;
    margin-top: 5%;
    margin-left: auto;
    border-radius: 6%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.next-question:hover {
    background-color: #6E1EB4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}


.answerBox{
    font-family: Arial, sans-serif;
    font-size: 40px;
    margin: 3%;
    background-color: #9F77C6;
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 50px;
}

.answers {
    display: flex;
    flex-direction: column;
    padding: 0.5%;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ebaeff;
    align-items: end;
}

.answers img {
    padding-right: 10px;
}

.cauldron-button {
    font-family: "Roboto Thin", sans-serif;
    font-size: 30px;
    width: 100%;
    margin-bottom: 1%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #D5546D;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cauldron-button:hover {
    background-color: #EA677E;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.cauldron-button:focus {
    outline: none;
    background-color: #e22a4c;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.cauldron-button image {
    vertical-align: middle;
    display: table-cell;
}

.cauldron-button span {
    vertical-align: middle;
    display: table-cell;
}

.mage-staff-button {
    font-family: "Roboto Thin", sans-serif;
    font-size: 30px;
    width: 100%;
    margin-bottom: 1%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #EFA928;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mage-staff-button:hover {
    background-color: #F8C059;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.mage-staff-button:focus {
    outline: none;
    background-color: #e49604;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}


.mage-staff-button image {
    vertical-align: middle;
    display: table-cell;
}

.mage-staff-button span {
    vertical-align: middle;
    display: table-cell;
}

.mana-button {
    font-family: "Roboto Thin", sans-serif;
    font-size: 30px;
    width: 100%;
    margin-bottom: 1%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #2C70AE;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.mana-button:hover {
    background-color: #559DE1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.mana-button:focus {
    outline: none;
    background-color: #0e88fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.mana-button image {
    vertical-align: middle;
    display: table-cell;
}

.mana-button span {
    vertical-align: middle;
    display: table-cell;
}

.magic-ball-button {
    font-family: "Roboto Thin", sans-serif;
    font-size: 30px;
    width: 100%;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    background-color: #2E9DA6;
    padding: 1%;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.magic-ball-button:hover {
    background-color: #36B9C2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.magic-ball-button:focus {
    outline: none;
    background-color: #22d2df;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.magic-ball-button image {
    vertical-align: middle;
    display: table-cell;
}

.magic-ball-button span {
    vertical-align: middle;
    display: table-cell;
}



