<main>
  <h1>WizQuizz</h1>
  <article #aboutUs class="about-us hidden">
    <section class="about-us-title">
      <hr><h2>WHO ARE WE?</h2><hr>
    </section>
    <section class="about-us-content">
      <ng-container *ngFor="let item of whoData">
        <div class="about-us-info">
          <img [src]="item.image" width="320" height="180" class="image" alt="">
          <p>{{ item.text }}</p>
        </div>
      </ng-container>
    </section>
  </article>
  <article #news class="news hidden">
    <section class="news-title">
      <hr><h2>NEWS</h2><hr>
    </section>
    <section class="news-slider">
      <div #newsContent class="news-content hidden">
        <ng-container *ngFor="let item of newsData">
          <div class="new">
            <img [src]="item.image" width="560" height="315" alt="">
            <div class="news-description">
              <a href=""><h2>{{ item.headline }}</h2></a>
              <p>{{ item.description }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
  </article>
</main>
