<main>
    <div id="wand-icon">
        <img src="../../assets/img/common/wizquizz-wand.png" height="300">
    </div>
    <div class="quizz-mark">
        <div id="quizz-description">
            <h1 id="finish">Congratulations</h1>
            <p> Has acabado el cuestionario. Buen trabajo aplicando lo que sabes. Gracias por participar y poner a prueba tu inteligencia.</p>
        </div>
        <div class="buttons-and-mark">
            <h2 id="mark">10/10</h2>
            <a routerLink="/preview"><input class="finish-button" type="button" value="PLAY AGAIN"></a>
            <a href=""><input class="finish-button" type="button" value="DOWNLOAD RESULTS"></a>
        </div>
    </div>
</main>