*{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #9C63E3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8860d0;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #DDDDDD;
    border-top-color: #9C63E3;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.image {
    opacity: 1;
    transition: .5s ease;
}

main {
    overflow: hidden;
    padding-top: 170px;
    min-height: calc(100vh - 460px);
}

main h1 {
    padding-bottom: 30px;
    color: #73F6D0;
    text-decoration: none;
    font-family: 'Harry Potter', sans-serif;
    font-size: 130px;
    text-align: center;
    text-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-us-title {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #8D77C6;
    margin-bottom: 30px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.about-us-title hr {
    margin: 0 auto;
    border: none;
    height: 2px;
    background-color: #73F6D0;
}

.about-us-title h2 {
    text-align: center;
    font-family: Poppins, serif;
    color: #73F6D0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.about-us-info {
    margin-inline: 10%;
    background-color: #9F77C6;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    text-align: justify;
    align-items: center;
    font-family: "Arial Black", serif;
    color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.about-us-info img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #6E1EB4;
    padding: 3px;
}

.about-us-info p {
    font-family: Poppins, serif;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-inline: 20px;
    padding: 10px;
    background-color: #b09cd4;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: justify;
}

.news {
    margin-top: 60px;
}

.news-title {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #8D77C6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.news-title hr {
    margin: 0 auto;
    border: none;
    height: 2px;
    background-color: #73F6D0;
}

.news-title h2 {
    text-align: center;
    font-family: Poppins, serif;
    color: #73F6D0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.news-slider {
    overflow: hidden;
}

.news-slider .news-content {
    position: relative;
    width: 400%;
    margin: 0;
    left: 0;
    animation: 12s news-slider infinite;
}

.news-slider .news-content .new {
    float: left;
    width: 25%;
}

@keyframes news-slider {
    0% {
        left: 0;
    }
    30% {
        left: 0;
    }
    40% {
        left: -100%;
    }
    60% {
        left: -100%;
    }
    70% {
        left: -200%;
    }
    90% {
        left: -200%;
    }
    100% {
        left: -300%;
    }
}

.news-content {
    display: flex;
    text-align: center;
    font-family: Poppins, serif;
    text-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.news-description {
    display: flex;
    flex-direction: column;
    flex: max-content;
    margin-inline: 30px;
}

.news-description p {
    text-align: center;
    flex: max-content;
}

.new {
    margin-top: 60px;
    margin-bottom: 90px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    background-color: #AB75BE;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}

.new img {
    border: 2px solid rgba(0, 0, 0, 0.1);
    background-color: #6E1EB4;
    border-radius: 20px;
    padding: 3px;
    margin-left: 30px;
    transition: opacity 0.5s ease;
}

.new h2 {
    text-align: justify;
    color: #FFFFFF;
}

.new a {
    text-decoration: none;
}

.new p {
    font-family: Poppins, serif;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #C1A6DA;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: justify;
}

.new img:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.new h2:hover {
    color: #ADFFDE;
    cursor: pointer;
}

.new:hover {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(150px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

h1.hidden {
    filter: blur(10px);
    transform: translateY(-100%);
    transition: all 2s;
}

h1.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.about-us-info:nth-child(1).hidden {
    transform: translateX(-100%);
    transition: all 1.25s;
}

.about-us-info:nth-child(2).hidden {
    transition: all 1.25s;
    transform: translateX(100%);
}

.about-us-info:nth-child(2).show, .about-us-info:nth-child(1).show {
    transform: translateX(0);
}

/* Phone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    main {
        padding-top: 140px;
        padding-bottom: 0;
    }

    main h1 {
        font-size: 64px;
    }

    .about-us-title {
        font-size: 12px;
    }

    .about-us-info {
        flex-direction: column;
        margin-inline: 40px;
    }

    .about-us-info img {
        height: 153px;
        width: 272px;
    }

    .about-us-info p {
        font-size: 12px;
        margin-inline: 5px;
    }

    .news-title {
        font-size: 12px;
    }

    .new {
        flex-direction: column;
        align-items: center;
    }

    .new img {
        height: 171px;
        width: 304px;
        margin-inline: 5px;
    }

    .news-description h2 {
        margin-top: 5px;
        font-size: 12px;
    }

    .news-description p {
        display: none;
    }
}

/* Tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    main {
        padding-top: 140px;
        padding-bottom: 0;
    }

    main h1 {
        font-size: 100px;
    }

    .about-us-title {
        font-size: 16px;
    }

    .about-us-info {
        flex-direction: column;
    }

    .about-us-info img {
        height: 315px;
        width: 560px;
    }

    .about-us-info p {
        font-size: 16px;
        margin-inline: 5px;
    }

    .news-title {
        font-size: 16px;
    }

    .new {
        flex-direction: column;
        align-items: center;
    }

    .new img {
        height: 378px;
        width: 672px;
        margin-inline: 5px;
    }

    .news-description h2 {
        margin-top: 5px;
        font-size: 18px;
    }

    .news-description p {
        font-size: 16px;
    }
}