*{
    padding: 0;
    margin: 0;
}

.image {
    opacity: 1;
    transition: .5s ease;
}

main h1 {
    padding-top: 170px;
    padding-bottom: 30px;
    color: #73F6D0;
    text-decoration: none;
    font-family: 'Harry Potter', sans-serif;
    font-size: 130px;
    text-align: center;
    text-shadow: 0 3px rgba(0, 0, 0, 0.2);
}

.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about-us-title {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #8D77C6;
    margin-bottom: 30px;
    width: 100%;
}

.about-us-title hr {
    margin: 0 auto;
    border: none;
    height: 2px;
    background-color: #73F6D0;
}

.about-us-title h2 {
    text-align: center;
    font-family: Poppins, serif;
    color: #73F6D0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.about-us-info {
    margin-inline: 10%;
    background-color: #9F77C6;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: justify;
    font-family: "Arial Black", serif;
    color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.about-us-info img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #6E1EB4;
    padding: 3px;
}

.about-us-info p {
    padding: 5px;
    margin: 1%;
}

.news {
    margin-top: 60px;
    margin-bottom: 30px;
}

.news-title {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #8D77C6;
}

.news-title hr {
    margin: 0 auto;
    border: none;
    height: 2px;
    background-color: #73F6D0;
}

.news-title h2 {
    text-align: center;
    font-family: Poppins, serif;
    color: #73F6D0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.news-content {
    margin-inline: 5%;
    text-align: center;
    font-family: Poppins, serif;
    margin-top: 50px;
    text-shadow: 0 2px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.new p {
    text-align: center;
}

.new {
    padding: 8px;
    margin-bottom: 52px;
    margin-inline: 15px;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #AB75BE;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.new img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #6E1EB4;
    padding: 3px;
}

.new h2 {
    color: #FFFFFF;
}

.new a {
    text-decoration: none;
}

.new p {
    font-family: Poppins, serif;
    color: #000000;
    width: 95%;
    display: none;
    padding: 5px;
    margin: 5px;
    background-color: snow;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.new:hover img {
    opacity: 0.8;
}

.new:hover h2 {
    color: #ADFFDE;
}

.new:hover p {
    display: block;
}

.new:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(150px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

h1.hidden {
    filter: blur(10px);
    transform: translateY(-100%);
    transition: all 2s;
}

h1.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.about-us-info:nth-child(1).hidden {
    transform: translateX(-100%);
    transition: all 1.25s;
}

.about-us-info:nth-child(2).hidden {
    transition: all 1.25s;
    transform: translateX(100%);
}

.about-us-info:nth-child(2).show, .about-us-info:nth-child(1).show {
    transform: translateX(0);
}

/* Phone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    main h1 {
        font-size: 80px;
    }
}

/* Tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    main h1 {
        font-size: 100px;
    }

    .about-us-info img {
        width: 272px;
        height: 153px;
    }

    .about-us-info p {
        font-size: 12px;
    }

    .new img {
        width: 272px;
        height: 153px;
    }
}