#foot {
    background-color: #22242A;
    color: white;
    bottom: 0;
    height: 180px;
    padding: 1%;
    display: flex;
    align-items: center;
}

#foot hr {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 2px;
    background-color: #73F6D0;
}

.footicon {
    margin-inline: 25px;
}

.footitem{
    text-decoration: none;
    margin-inline: 10px;
}

.items{
    width: 90%;
}

.upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upper a {
    color: #FFFFFF;
}

.upper a:hover {
    color: #73F6D0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.contact {
    display: flex;
}

.lower a {
    color: #FFFFFF;
}

.lower a:hover {
    color: #73F6D0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.networks a{
    text-decoration: none;
    color: purple;
    float: right;
    margin-inline: 10px;
    font-size: 120%;
}

.networks a:hover {
    color: #73F6D0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}